.advantages {
  background-color: $color-grey;
  min-height: 664px;
}

.advantages ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 240px 1fr;
  height: 407px;
}

.advantages ul li:nth-child(3) {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  background-color: $color-hover;
  color: $color-white;
}

.advantages .quantity {
  background: linear-gradient(142.51deg, #D10A42 0%, #0041CA 87.33%);
  font-weight: 700;
  font-size: 71px;
  line-height: 150%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.advantages .measure {
  color: #2e35ac;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

.advantages h3 {
  font-weight: 700;
  font-size: 22px;
  line-height: 150%;
}

.advantages .description {
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
}
