.advantages {
  background-color: $color-grey;
  min-height: 664px;
  padding-top: 120px;
  padding-bottom: 120px;

  @media (max-width: $vp-tablet) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.advantages ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 240px 1fr;
  height: 307px;
  column-gap: 60px;
  row-gap: 100px;
  max-width: 1040px;
}

.advantages .quantity {
  background: linear-gradient(142.51deg, #D10A42 0%, #0041CA 87.33%);
  font-weight: 700;
  font-size: 71px;
  line-height: 80%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.advantages .measure {
  color: #2e35ac;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

.advantages h2 {
  text-align: center;
  margin-bottom: 60px;
}

.advantages h3 {
  font-weight: 700;
  font-size: 22px;
  line-height: 150%;
  margin-bottom: 10px;
  margin-top: 0;
}

.advantages .description {
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
}

.advantages__item {
  display: grid;
  grid-template-columns: min-content 1fr;
  column-gap: 30px;
}

.advantages__item p {
  margin: 0;
  display: grid;
  grid-template-rows: 60px min-content;
}

.advantages__central {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  background-color: $color-hover;
  color: $color-white;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 34px;
}

.advantages__central .quantity {
  font-weight: 700;
  font-size: 74px;
  line-height: 150%;
  color: $color-white;
  background: transparent;
  -webkit-background-clip: unset;
  -webkit-text-fill-color: unset;
}

.advantages__central .measure {
  font-weight: 700;
  font-size: 26px;
  line-height: 150%;
  color: $color-white;
}
