.bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 119px;
  min-height: 337px;

  @media (max-width: $vp-tablet) {
    grid-template-columns: 1fr;
    margin-top: 100px;
  }

  @media (max-width: $vp-mobile) {
    margin-top: 71px;
  }
}
