.contacts {
  padding-left: 120px;
  border-top: 1px solid #74819c;
  padding-top: 70px;

  @media (max-width: $vp-tablet) {
    padding-right: 45px;
    padding-left: 133px;
    padding-bottom: 60px;
  }

  @media (max-width: $vp-mobile) {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.contacts__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 460px;
  column-gap: 120px;
  margin-left: 2px;

  @media (max-width: $vp-tablet) {
    margin-left: 0;
    width: 100%;
    column-gap: 40px;
  }

  @media (max-width: $vp-mobile) {
    grid-template-columns: 1fr;
    width: 100%;
  }
}

.contacts h2 {
  margin-bottom: 22px;
  position: relative;

  @media (max-width: $vp-tablet) {
    margin-bottom: 12px;
  }
}

.contacts h2::before {
  content: '';
  position: absolute;
  top: 94px;
  left: 233px;
  height: 102px;
  border-left: 1px solid #74819C;

  @media (max-width: $vp-tablet) {
    top: 80px;
    left: 265px;
    height: 129px;
  }
}

.contacts__wrapper h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 0;

  @media (max-width: $vp-tablet) {
    font-size: 20px;
    margin-top: 18px;
  }
}

.contacts__wrapper p {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin-top: 3px;
  margin-bottom: 2px;

  @media (max-width: $vp-tablet) {
    font-size: 18px;
    line-height: 152.34%;
    margin-top: 5px;
  }
}
