.default {
  border: 7px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(142.51deg, #D10A42, #00359F);
  padding: 25px;
  color: $color-hover;

  @media (max-width: $vp-tablet) {
    padding-left: 28px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    min-height: 211px;
  }

  @media (max-width: $vp-mobile) {
    text-align: center;
    padding-top: 35px;
  }
}

.default p {
  margin-top: 8px;

  @media (max-width: $vp-mobile) {
    margin-top: 11px;
    line-height: 140%;
  }
}

.default .promo__link {
  margin-top: 72px;
  display: flex;
  width: fit-content;

  &:hover,
  &:focus {
    color: $color-hover;
    border-bottom: 1px solid $color-hover;
  }

  &:active {
    color: $color-active;
    border-bottom: 1px solid $color-active;
  }

  @media (max-width: $vp-tablet) {
    margin-block-start: auto;
    padding-bottom: 3px;
    margin-bottom: 2px;
  }

  @media (max-width: $vp-mobile) {
    margin: 9px auto 0;
  }
}
