.footer-nav {
  display: flex;
  min-width: 770px;
  justify-content: space-between;

  @media (max-width: $vp-tablet) {
    min-width: 535px;
  }

  @media (max-width: $vp-tablet) {
    min-width: 100%;
  }
}

.footer-nav__list {
  min-width: 431px;
  justify-content: space-between;

  @media (max-width: $vp-tablet) {
    min-width: 391px;
  }

  @media (max-width: $vp-mobile) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-width: 100%;
  }
}

.footer-social__link {
  display: flex;
  height: 35px;
  width: 35px;
  padding: 5px;
}

.footer-nav__img {
  @media (max-width: $vp-tablet) {
    width: 82px;
    height: 18px;
  }
}
