.footer-nav {
  margin-top: 10px;
  width: 799px;

  @media (max-width: $vp-tablet) {
    min-width: 535px;
    margin-right: 45px;
  }

  @media (max-width: $vp-mobile) {
    min-width: 100%;
    width: 100%;
    margin-top: 27px;    margin-left: -4px;
  }
}

.footer-nav__list {
  justify-content: space-between;
  display: flex;
  min-width: 770px;

  @media (max-width: $vp-tablet) {
    min-width: 535px;
  }

  @media (max-width: $vp-mobile) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    min-width: 100%;
    row-gap: 16px;
    column-gap: 45px;
    grid-auto-flow: column;
  }
}

.footer-nav__item {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.footer-nav__item a {
  &:hover,
  &:focus {
    background-color: $color-blue;
  }

  &:active {
    background-color: $color-active;
  }
}

.footer-nav__img {
  @media (max-width: $vp-tablet) {
    width: 82px;
    height: 18px;
  }

  @media (max-width: $vp-mobile) {
    width: 71px;
    height: 15px;
  }
}
