.footer-social {
  @media (max-width: $vp-mobile) {
    margin-left: -4px;
  }
}

.footer-social__list {
  display: flex;

  @media (max-width: $vp-mobile) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 97px;
  }
}

.footer-social__link {
  display: flex;
  height: 35px;
  width: 35px;
  padding: 5px;

  &:hover .footer-social__img,
  &:focus .footer-social__img {
    opacity: 50%;
  }

  &:active .footer-social__img {
    opacity: 20%;
  }
}
