.footer-nav {
  margin-top: 10px;
  width: 799px;

  @media (max-width: $vp-tablet) {
    min-width: 535px;
    margin-right: 45px;
  }

  @media (max-width: $vp-mobile) {
    min-width: 100%;
    width: 100%;
    margin-top: 18px;
    margin-left: -3px;
  }
}

.footer-nav__list {
  justify-content: space-between;
  display: grid;
  min-width: 770px;
  grid-template-rows: 1fr;
  grid-template-columns: min-content min-content min-content min-content min-content min-content;
  row-gap: 20px;

  @media (max-width: $vp-tablet) {
    min-width: 535px;
  }

  @media (max-width: $vp-mobile) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    min-width: 100%;
    row-gap: 7px;
    column-gap: 45px;
  }
}

.footer-nav__item {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin-top: 9px;
}

.footer-nav__item-logo {
  grid-row: 1 / 3;
  margin-top: 9px;

  @media (max-width: $vp-mobile) {
    grid-row: 1 / 1;
  }
}

.footer-nav__item a {
  &:hover,
  &:focus {
    background-color: $color-blue;
  }

  &:active {
    background-color: $color-active;
  }
}

.footer-nav__img {
  @media (max-width: $vp-tablet) {
    width: 82px;
    height: 18px;
  }

  @media (max-width: $vp-mobile) {
    width: 71px;
    height: 15px;
  }
}
