.footer {
  background-color: $color-black-footer;
  color: $color-white;
}

.footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 108px;

  @media (max-width: $vp-tablet) {
    min-height: 114px;
    padding-right: 35px;
  }

  @media (max-width: $vp-mobile) {
    min-height: 260px;
    display: grid;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: unset;
  }
}

.footer a {
  color: $color-white;
  padding: 5px;

  @media (max-width: $vp-tablet) {
    font-size: 14px;
    line-height: 16px;
  }

  @media (max-width: $vp-mobile) {
    font-size: 16px;
    line-height: 19px;
  }
}

.footer .logo {
  fill: $color-white;
  margin-right: 235px;
  margin-left: -5px;

  @media (max-width: $vp-tablet) {
    margin-right: 35px;
    margin-left: -7px;
  }

  @media (max-width: $vp-mobile) {
    margin-right: 0;
    margin-left: -3px;
  }
}

.footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
