.free-lesson {
  display: flex;
  justify-content: end;
  padding-right: 170px;
  background-color: $color-black;
  color: $color-white;
  padding-top: 70px;

  @media (max-width: $vp-tablet) {
    justify-content: unset;
    padding-right: 0;
    min-height: 324px;
  }

  @media (max-width: $vp-mobile) {
    min-height: 386px;
  }
}

.free-lesson__wrapper {
  @media (max-width: $vp-tablet) {
    padding-right: 45px;
    padding-left: 133px;
  }

  @media (max-width: $vp-mobile) {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.free-lesson h2 {
  color: $color-white;
  padding-bottom: 39px;

  @media (max-width: $vp-tablet) {
  padding-bottom: 33px;
  }
}

.free-lesson form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;

  @media (max-width: $vp-tablet) {
    column-gap: 60px;
  }

  @media (max-width: $vp-mobile) {
    grid-template-columns: 1fr;
    min-width: 290px;
  }
}

.free-lesson input {
  border: none;
  border-bottom: 1px solid #74819c;
  background-color: transparent;
  width: 100%;
  padding-bottom: 5px;
  padding-left: 0;
  padding-right: 0;

  @media (max-width: $vp-mobile) {
    margin-bottom: 32px;
  }
}

.free-lesson input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $color-white;
}

.free-lesson .button {
  cursor: pointer;
  width: 410px;
  height: 52px;
  border: 3px solid $color-white;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-white;
  margin-top: 30px;
  grid-column: 1 / -1;

  &:hover,
  &:focus {
    background-color: $color-hover;
    border: 3px solid $color-hover;
  }

  &:active {
    background-color: $color-active;
    border: 3px solid $color-hover;
  }

  @media (max-width: $vp-tablet) {
    width: 472px;
    height: 54px;
    margin-top: 28px;
    padding-top: 3px;
  }

  @media (max-width: $vp-mobile) {
    width: 100%;
    margin-top: 8px;
  }
}
