.gym {
  margin-top: 120px;
  margin-bottom: 120px;

  @media (max-width: $vp-tablet) {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  @media (max-width: $vp-mobile) {
    margin-top: 70px;
    margin-bottom: 70px;
  }
}

.gym .lead {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
}

.gym p {
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
}

.gym .container {
  display: grid;
  grid-template-columns: 355px 1fr 1fr;
  column-gap: 30px;
  min-height: 516px;

  @media (max-width: $vp-mobile) {
    display: flex;
    flex-direction: column;
  }
}

.gym__img {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
  justify-self: flex-end;

  @media (max-width: $vp-mobile) {
    order: 2;
  }
}

.gym__video {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
  align-self: flex-end;
  z-index: 1;

  @media (max-width: $vp-mobile) {
    order: 3;
  }
}

.gym__description {
  @media (max-width: $vp-mobile) {
    order: 1;
  }
}

.gym__description p:last-child {
  @media (max-width: $vp-mobile) {
    display: none;
  }
}
