.header {
  color: $color-white;
  background-color: $color-active;
  background-image: url("../img/intro-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 658px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/intro-bg@2x.webp");
    background-size: cover;
  }

  @media (max-width: $vp-tablet) {
    min-height: 554px;
    background-image: url("../img/intro-bg-tablet.webp");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/intro-bg-tablet@2x.webp");
    }
  }

  @media (max-width: $vp-mobile) {
    min-height: 491px;
    background-image: url("../img/intro-bg-mobile.webp");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/intro-bg-mobile@2x.webp");
    }
  }
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header ul {
  list-style: none;
  margin: 0;
}

.header a {
  color: $color-white;
}

.header .logo__img {
  fill: $color-white;
  margin-top: 30px;

  @media (max-width: $vp-tablet) {
    width: 82px;
    height: 39px;
  }

  @media (max-width: $vp-mobile) {
    margin-top: 20px;
      width: 68px;
      height: 15px;
  }
}
