.intro {
  color: $color-white;
}

.intro__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 145px;
  column-gap: 65px;

  @media (max-width: $vp-tablet) {
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
  }
}

.intro__text {
  display: grid;
  grid-template-columns: 1fr 260px;
  grid-template-rows: 160px 120px 1fr 60px;

  @media (max-width: $vp-tablet) {
    grid-template-columns: 1fr 190px;
    grid-template-rows: 120px 82px 1fr 60px;
  }

  @media (max-width: $vp-mobile) {
    grid-template-columns: 1fr 175px;
  }
}

.intro__text p {
  font-family: $ff-bebasneue;
  font-weight: 400;
  font-size: 49px;
  line-height: 59px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  grid-column: 2 / -1;
  text-align: right;
  margin: 0;
  place-self: end;

  @media (max-width: $vp-tablet) {
    font-size: 34px;
    line-height: 41px;
  }
}

.intro__text ul {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  text-align: right;
}

.intro__text li {
  @media (max-width: $vp-tablet) {
    font-size: 14px;
    line-height: 150%;
  }
}

.intro h1 {
  font-family: $ff-bebasneue;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin: 0;
  text-transform: uppercase;
  font-size: 109px;
  line-height: 100%;
  text-align: right;

  grid-column: 1 / -1;
  grid-row: 2 / 4;

  @media (max-width: $vp-tablet) {
  font-size: 86px;
  }

  @media (max-width: $vp-mobile) {
  font-size: 78px;
  }
}

.intro a {
  color: $color-white;
}

.intro ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.intro .button {
  width: 230px;
  height: 57px;
  border: 4px solid $color-white;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1 / -1;
  place-self: self-end;

  @media (max-width: $vp-tablet) {
    width: 183px;
  }

  @media (max-width: $vp-mobile) {
    width: 290px;
  }
}
