.intro {
  color: $color-white;
}

.intro__wrapper {
  display: grid;
  grid-template-columns: 397px 1fr 137px;
  column-gap: 63px;
  margin-top: -5px;

  @media (max-width: $vp-tablet) {
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
  }

  @media (max-width: $vp-mobile) {
    width: 100%;
  }
}

.intro__text {
  display: grid;
  grid-template-columns: 1fr 264px;
  grid-template-rows: 175px 130px 148px 60px;

  @media (max-width: $vp-tablet) {
    grid-template-columns: 1fr 190px;
    grid-template-rows: 120px 82px 1fr 60px;
  }

  @media (max-width: $vp-mobile) {
    grid-template-columns: 1fr 175px;
  }
}

.intro__text p {
  font-family: $ff-bebasneue;
  font-weight: 400;
  font-size: 49px;
  line-height: 59px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  grid-column: 2 / -1;
  text-align: right;
  margin: 0;
  place-self: end;

  @media (max-width: $vp-tablet) {
    font-size: 34px;
    line-height: 41px;
  }
}

.intro__text ul {
  padding: 0;
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  text-align: right;
  font-size: 14px;
  line-height: 150%;
}

.intro__text li {
  @media (max-width: $vp-tablet) {
    font-size: 14px;
    line-height: 150%;
  }
}

.intro__img {
  @media (max-width: $vp-mobile) {
    display: none;
  }
}

.intro h1 {
  font-family: $ff-bebasneue;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin: 0;
  text-transform: uppercase;
  text-align: right;
  margin-top: 7px;
  margin-right: 2px;
  grid-column: 1 / -1;
  grid-row: 2 / 4;
  letter-spacing: .015em;
  font-size: 112px;
  font-weight: 700;
  line-height: 97%;

  @media (max-width: $vp-tablet) {
  font-size: 86px;
  }

  @media (max-width: $vp-mobile) {
  font-size: 78px;
  }
}

.intro a {
  color: $color-white;
}

.intro ul {
  list-style: none;
  margin: 0;
}

.intro .button {
  width: 232px;
  height: 61px;
  border: 4px solid $color-white;
  letter-spacing: 0.05em;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1 / -1;
  place-self: self-end;

  &:hover,
  &:focus {
    background-color: $color-hover;
    border: 4px solid $color-hover;
  }

  &:active {
    background-color: $color-active;
    border: 4px solid $color-active;
  }

  @media (max-width: $vp-tablet) {
    width: 183px;
  }

  @media (max-width: $vp-mobile) {
    width: 290px;
  }
}
