.membership {
  padding-top: 120px;
  padding-bottom: 120px;
  background-image: url("../img/plates.png");
  background-color: $color-grey;
  background-repeat: no-repeat;
  background-size: 20%;
  background-position-x: right;
  background-position-y: bottom;
  min-height: 851px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/plates@2x.png");
  }
}

.membership h2 {
  text-align: center;
}

.membership__item h3 {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
}

.membership__tab {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 40px;
  padding-top: 40px;
}

.membership__tile {
  background-color: $color-white;
  width: 360px;
  height: 448px;
  padding: 68px 77px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.membership__tile h4 {
  font-weight: 700;
  font-size: 26px;
  line-height: 29px;
  margin: 0;
}

.membership__tile .button {
  width: 206px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  border: 2px solid $color-black;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
}

.membership__tile .price {
  font-weight: 700;
  font-size: 60px;
  line-height: 100%;
  color: $color-blue;
  z-index: 1;
}

.membership__tile .price-shadow {
  color: #E8E8E8;
  opacity: 0.48;
  font-size: 100px;
  font-weight: 700;
  font-size: 100px;
  margin-top: 59px;
  margin-bottom: -80px;
}

.tabs {
  text-align: center;
}

.tabs>input[type="radio"] {
  display: none;
}

.membership__tabs {
  /* скрыть контент по умолчанию */
  display: none;
  // padding: 10px 15px;
}

/* отобразить контент, связанный с вабранной радиокнопкой (input type="radio") */
#tab-btn-1:checked~#content-1,
#tab-btn-2:checked~#content-2,
#tab-btn-3:checked~#content-3 {
  display: block;
}

.tabs>label {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  padding: 15px 5px;
  margin: 0 15px;
  font-size: 16px;
  line-height: 1.5;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  cursor: pointer;
  position: relative;
  top: 1px;
}

.tabs>label:not(:first-of-type) {
  border-left: none;
}

.tabs>input[type="radio"]+label {
  border-bottom: 2px solid #78787833;
}

.tabs>input[type="radio"]:checked+label {
  border-bottom: 2px solid #D10A42;
}
