.membership {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: $color-grey;
  min-height: 851px;
  position: relative;

  @media (max-width: $vp-tablet) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @media (max-width: $vp-mobile) {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.membership .container {
  z-index: 1;
  position: relative;

  @media (max-width: $vp-mobile) {
    padding-right: 0;
    padding-left: 0;
  }
}

.membership h2 {
  text-align: center;
}

.membership h2::before {
  content: '';
  position: absolute;
  top: 124px;
  left: 50%;
  transform: translateX(-50%);
  width: 341px;
  border-top: 2px solid #78787833;

  @media (max-width: $vp-tablet) {
    top: 107px;
    width: 332px;
  }

  @media (max-width: $vp-mobile) {
    top: 89px;
    width: 282px;
  }
}

.membership__item h3 {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
}

.membership__tab {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 40px;
  padding-top: 40px;

  @media (max-width: $vp-tablet) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: unset;
    row-gap: 40px;
    padding-top: 35px;
  }

  @media (max-width: $vp-mobile) {
    row-gap: 35px;
  }
}

.membership__tile {
  background-color: $color-white;
  border: 7px solid transparent;
  width: 360px;
  min-height: 445px;
  justify-content: flex-start;
  padding: 61px 70px;
  display: flex;
  align-items: center;
  flex-direction: column;

  @media (max-width: $vp-tablet) {
    width: 442px;
    margin: 0 auto;
  }

  @media (max-width: $vp-mobile) {
    padding: 44px 42px;
    width: 290px;
    min-height: 384px;
  }

  &:hover {
    border: 7px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(142.51deg, #D10A42, #00359F);
  }
}

.membership__tile p {
  margin-top: 10px;
}

.membership__tile h4 {
  font-weight: 700;
  font-size: 26px;
  line-height: 29px;
  margin: 0;

  @media (max-width: $vp-mobile) {
    font-size: 22px;
    line-height: 24px;
  }
}

.membership__tile .button {
  width: 206px;
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  border: 2px solid $color-black;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;

  &:hover {
    border: none;
    background: linear-gradient(97.05deg, #ED0233 17.6%, #003EB7 95.31%);
    color: $color-white;
  }
}

.membership__tile .price {
  font-weight: 700;
  font-size: 60px;
  line-height: 100%;
  color: $color-blue;
  z-index: 1;
  margin-top: 60px;
  margin-bottom: 50px;

  @media (max-width: $vp-mobile) {
    font-size: 48px;
    margin-top: 43px;
    margin-bottom: 42px;
  }
}

.membership__tile .price-shadow {
  color: #E8E8E8;
  opacity: 0.48;
  font-size: 100px;
  font-weight: 700;
  font-size: 100px;
  margin-top: 59px;
  margin-bottom: -80px;

  @media (max-width: $vp-mobile) {
    font-size: 80px;
    margin-bottom: -60px;
    margin-top: 43px;
  }
}

.membership__tile .price__img {
  @media (max-width: $vp-mobile) {
    width: 24px;
    height: 33px;
  }
}

.membership__tabs {
  display: none;
}

.membership__img {
  position: absolute;
  right: 0;
  bottom: -70px;

  @media (max-width: $vp-tablet) {
    bottom: -53px;
    width: 308px;
  }

  @media (max-width: $vp-mobile) {
    display: none;
  }
}
