.promo {
  padding-top: 120px;
  padding-bottom: 120px;

  @media (max-width: $vp-tablet) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @media (max-width: $vp-mobile) {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.promo h2 {
  padding-bottom: 50px;
  text-align: center;
}

.promo ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 40px;
  min-height: 462px;

  @media (max-width: $vp-mobile) {
    grid-template-columns: 1fr;
  }
}

.promo .default {
  border: 7px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(142.51deg, #D10A42, #00359F);
  padding: 25px;
  color: $color-hover;

  @media (max-width: $vp-mobile) {
    text-align: center;
  }
}

.default p {
  margin-top: 8px;
}

.promo h3 {
  margin: 0;
  font-weight: 700;
  font-size: 26px;
}

.promo .hot {
  grid-row: 1 / 3;
  background-color: $color-red;
  color: $color-white;
  border: none;
  background-image: url("../img/promo-photo.webp");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position-y: center;
  background-position-x: right;
  padding: 35px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/promo-photo@2x.webp");
  }

  @media (max-width: $vp-tablet) {
    background-image: url("../img/promo-photo-tablet.webp");
    background-size: 59%;
    grid-column: 1 / 3;
    grid-row: unset;
    min-height: 462px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/promo-photo-tablet@2x.webp");
    }
  }

  @media (max-width: $vp-mobile) {
    grid-column: unset;
    min-height: 598px;
    background-image: url("../img/promo-photo-mobile.webp");
    background-size: 100%;
    background-position-y: bottom;
    background-position-x: center;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/promo-photo-mobile@2x.webp");
    }
  }
}

.promo__link {
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border-bottom: 1px solid $color-hover;
}

.default .promo__link {
  margin-top: 72px;
  display: flex;
  width: fit-content;

  &:hover,
  &:focus {
    color: $color-hover;
    border-bottom: 1px solid $color-hover;
  }

  &:active {
    color: $color-active;
    border-bottom: 1px solid $color-active;
  }
}

.promo .duration {
  font-weight: 700;
  font-size: 28px;
  margin-top: 8px;
  margin-left: 10px;
  margin-bottom: 20px;
}

.promo .price {
  font-weight: 700;
  font-size: 70px;
  margin-left: 10px;
  margin-top: 27px;
  margin-bottom: 42px;
}

.promo .description {
  font-weight: 400;
  font-size: 18px;
  margin-left: 10px;
  width: 190px;
  margin-top: 0;
}

.hot .promo__link {
  color: $color-white;
  border-bottom: 1px solid $color-white;
  margin-left: 10px;
  letter-spacing: 0.05em;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  margin-top: 190px;
  display: flex;
  width: fit-content;

  &:hover,
  &:focus {
    color: $color-hover;
    border-bottom: 1px solid $color-hover;
  }

  &:active {
    color: $color-active;
    border-bottom: 1px solid $color-active;
  }
}
