.social {
  display: flex;
  place-self: flex-end;

  @media (max-width: $vp-tablet) {
    display: none;
  }
}

.social__list {
  display: grid;
  row-gap: 9px;
  padding-bottom: 40px;
  justify-items: right;
}

.social__item a {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  padding: 5px;
  margin-right: -5px;

  &:hover,
  &:focus {
    color: $color-hover;
  }

  &:active {
    color: $color-active;
  }
}
