.supergames {
  display: grid;
  grid-template-columns: 43% 57%;
  min-height: 500px;
  margin-top: 120px;
  margin-bottom: 120px;

  @media (max-width: $vp-tablet) {
    margin-top: 100px;
    margin-bottom: 100px;
    min-height: 292px;
  }

  @media (max-width: $vp-mobile) {
    grid-template-columns: 1fr;
    grid-template-rows: fit-content 1fr;
    margin-top: 70px;
    margin-bottom: 70px;
    height: fit-content;
  }
}

.supergames .button {
  width: 343px;
  min-height: 39px;
  display: flex;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid $color-white;
  grid-column: 1 / -1;
  letter-spacing: 0.05em;
  place-self: flex-end;

  &:hover,
  &:focus {
    background-color: $color-hover;
    border: 4px solid $color-hover;
  }

  &:active {
    background-color: $color-active;
    border: 4px solid $color-active;
  }

  @media (max-width: $vp-tablet) {
    width: 100%;
    height: 39px;
    font-size: 10px;
    line-height: 12px;
    border: 2px solid $color-white;
  }
}

.supergames__wrapper {
  background-color: $color-red;
  color: $color-white;
  padding: 83px 78px;
  display: grid;
  grid-template-columns: 1fr 92px;
  grid-template-rows: min-content min-content 1fr 1fr;

  @media (max-width: $vp-tablet) {
    padding: 51px 45px;
    grid-template-columns: 1fr 55px;
  }

  @media (max-width: $vp-mobile) {
    height: fit-content;
  }
}

.supergames__wrapper h2 {
  font-family: $ff-bebasneue;
  font-weight: 700;
  color: $color-white;
  margin: 0;
  margin-top: 5px;
  font-size: 90px;
  line-height: 90px;
  letter-spacing: 0.03em;
  grid-row: 1 / 3;

  @media (max-width: $vp-tablet) {
    font-size: 52px;
    line-height: 100%;
    margin-top: -1px;
  }

  @media (max-width: $vp-mobile) {
    font-size: 52px;
    line-height: 52px;
  }
}

.supergames__date {
  grid-row: 1 / 2;
  row-gap: 10px;
  margin: 0;
  display: grid;
  grid-template-columns: min-content 1fr;
  height: 64px;

  @media (max-width: $vp-tablet) {
    row-gap: 2px;
    margin: 0;
    height: auto;
    margin-top: -8px;
  }
}

.supergames__date-title {
  grid-column: 1 / -1;
  font-weight: 400;
  font-size: 18px;

  @media (max-width: $vp-tablet) {
    font-size: 12px;
  }

  @media (max-width: $vp-mobile) {
    margin-bottom: -2px;
  }
}

.supergames__date-day {
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  margin-right: 8px;
  position: relative;

  @media (max-width: $vp-tablet) {
    font-size: 24px;
    margin-right: 4px;
  }
}

.supergames__date-day::before {
  content: '';
  position: absolute;
  top: -4px;
  left: 0;
  width: 64px;
  border-top: 1px solid $color-white;

  @media (max-width: $vp-tablet) {
    width: 42px;
  }
}

.supergames__date-month {
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  margin-top: 4px;

  @media (max-width: $vp-tablet) {
    font-size: 10px;
    margin-top: 0px;
  }
}

.supergames__date-hour {
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  position: relative;

  @media (max-width: $vp-tablet) {
    font-size: 24px;
  }
}

.supergames__date-hour::before {
  content: '';
  position: absolute;
  top: -4px;
  left: 0;
  width: 88px;
  border-top: 1px solid $color-white;

  @media (max-width: $vp-tablet) {
    width: 56px;
  }
}

.supergames__time {
  grid-row: 2 / 3;
  margin: 0;
  display: grid;
  grid-template-rows: min-content min-content;
  row-gap: 10px;
  margin-top: 13px;

  @media (max-width: $vp-tablet) {
    margin: 0;
    row-gap: 2px;
  }
}

.supergames__description {
  font-size: 18px;
  line-height: 150%;
  grid-column: 1 / -1;
  margin-top: 4px;

  @media (max-width: $vp-tablet) {
    font-size: 12px;
    margin-top: 0;
  }

  @media (max-width: $vp-mobile) {
    margin-bottom: 25px;
  }
}

.supergames__wrapper a {
  color: $color-white;
}

.supergames__img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  @media (max-width: $vp-mobile) {
    display: block;
    width: 100%;
    height: auto;
  }
}
