.tabs {
  text-align: center;
  margin-top: 17px;

  @media (max-width: $vp-tablet) {
    margin-top: 10px;
  }

  @media (max-width: $vp-mobile) {
    margin-top: 5px;
  }
}

.tabs>input[type="radio"] {
  display: none;
}

#tab-btn-1:checked~#content-1,
#tab-btn-2:checked~#content-2,
#tab-btn-3:checked~#content-3 {
  display: block;
}

.tabs>label {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  padding: 15px 0 12px;
  margin: 0 21px;
  font-size: 16px;
  line-height: 1.5;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  cursor: pointer;
  position: relative;
  top: 1px;

  &:hover,
  &:focus {
    color: $color-hover;
  }

  &:active {
    color: $color-active;
  }

  @media (max-width: $vp-tablet) {
    margin: 0 25px;
  }

  @media (max-width: $vp-mobile) {
    margin: 0 19px;
  }
}

.tabs>label:not(:first-of-type) {
  border-left: none;
}

.tabs>input[type="radio"]+label {
  border-bottom: 2px solid transparent;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;

  @media (max-width: $vp-tablet) {
  font-size: 18px;
  }

  @media (max-width: $vp-mobile) {
  font-size: 16px;
  }
}

.tabs>input[type="radio"]:checked+label {
  border-bottom: 2px solid #D10A42;
}
