.trainers {
  margin-bottom: 120px;

  @media (max-width: $vp-tablet) {
    margin-bottom: 100px;
  }
}

.trainers h2 {
  margin-bottom: 50px;
}

.trainers ul {
  padding: 0;
}

.trainers__list {
  width: 1160px;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;

  @media (max-width: 1260px) {
    justify-content: space-evenly;
  }
}

.trainers__item {
  width: 260px;
  height: 294px;
  position: relative;
}

.trainers__img {
  position: absolute;
  top: 0;
}

.trainers__slider {
  max-width: 1270px;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
}

.swiper-slide {
  width: 264;
}

.trainers .swiper-wrapper {
  max-width: 1160px;
  height: 294px;
  width: fit-content;
}

.trainers .swiper-button-next:after,
.trainers .swiper-button-prev:after {
  color: #afafaf;
  width: 16px;
  height: 45px;
}
