.trainers {
  margin-bottom: 120px;
}

.trainers h2 {
  margin-bottom: 62px;
}

.trainers ul {
  list-style: none;
  padding: 0;
}

.trainers__list {
  width: 1160px;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;

    @media (max-width: 1260px) {
      justify-content: space-evenly;
    }
}

.trainers__item {
  width: 260px;
  height: 294px;
  position: relative;
}

.trainers__img {
  position: absolute;
  top: 0;
}

.trainers .swiper {
  max-width: 1272px;
  height: 294px;
}

.trainers .swiper-button-next:after,
.trainers .swiper-button-prev:after {
  color: #AFAFAF;
  width: 16px;
  height: 32px;
}
