.trainers  ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.trainers__item {
  width: 260px;
  height: 294px;
  position: relative;
}

.trainers__img {
  position: absolute;
  top: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1160px;
}
